a {
  color: #3B5998;
  text-decoration: none;
}

.hidden {
    position: absolute;
    display: none;
}

.mirror {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
