a {
  color: #3B5998;
  text-decoration: none;
}

video {
    width: 640px;
    height: 480px;
}

.hidden {
    display: none;
}

canvas#o {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}